.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 110%;
    font-family: Verdana, Geneva, sans-serif;
    padding: 5px 0;
    border-radius: 3px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -moz-transition:  opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition:  opacity 0.4s;
    transition: opacity 0.4s;
}

.tooltip-right {
    top: -2px;
    left: 120%;
}

.tooltip-left {
    top: -2px;
    right: 120%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.RMPtd {
    text-align: center !important;
    vertical-align: middle !important;
}

.RMPa:hover {
    text-decoration: none;
}

.RMPpopup {
    text-align: initial;
    z-index: 10;
    display: none;
    padding: 5px 12px 12px 12px;
    margin-top: -32px;
    margin-left: -320px;
    width: 280px;
    border-radius: 4px;
    box-shadow: -5px 5px 8px #CCC;
    text-decoration: none;
    font-size: 100%;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.RMPpopup h3{
    letter-spacing: 0px;
    font-weight: 600;
    font-size: 13px;
    background-color: #c0c0c0;
    margin: -5px -12px;
    padding: 5px 12px;
}
.RMPpopup h4{
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.RMPpopup .img-wrap {
    z-index: 21;
    position: absolute;
    top: 3px;
    right: 10px;
    width: 20px;
    height: 20px;
}

.RMPpopup .img-wrap .gold-star {
    width: 100%;
    height: 100%;
    -webkit-animation: rotating 10s linear infinite;
}

.RMPpopup .img-wrap span{
    display: none;
    position: absolute;
    right: 25px;
    top: 0px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    text-transform: none;
    width: 150px;
    font-size: 12px;
    line-height: 120%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #888888;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.RMPa:hover .RMPpopup{
    display: inline;
    position: absolute; /* Also don't change */
    color: #111;
    /*border: 1px solid #DCA;*/
    /*background: #fffAF0;*/
    border: 1px solid #c0c0c0; /*Changed to match new ASU look*/
    background: #fbfbfb;    /*Changed to match new ASU look*/
    text-decoration: none;
}

q {
    font-style: italic;
}

.RMPatext {
    padding: 1px 3px;
    margin-top: 1px;
    margin-left: 2px;
    display: inline-block;
    font-size: 110%;
    font-family: Verdana, Geneva, sans-serif;
    color: #fff !important;
    border-radius: 3px;
    box-shadow: .25px .25px 1px #888;
    text-shadow: .5px .5px 3px #222;
    cursor: pointer;
    min-width: 27px;
}
.RMPatext.notfound {
    background-color: #ccc !important;
}

.RMPcallout {
    z-index: 20;
    position: absolute;
    top: 30px;
    border: 0;
    right: -12px;
}
.RMPimg {
    margin: 0 auto;
}

.feedback_input {
    width: 100%;
    height: 100%;
}

.feedback_submit {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.feedback_thanks {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
}

.error_form_button {
    margin-top: 10px;
}

textarea:disabled {
    background-color: #EEEEEE;
}

.prof_name, .class_name, .feedback_thanks {
    font-style: italic;
    font-weight: 800;
}
